@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

/* SCSS VARIABLE */

$primary-color: #0088cc;
$secondary-color: #34495e;
$dark-color: #1d2127;
$warning-color: #d2312d;

$grey-color: #c3c3c3;
$grey-primary-color: #7d7d7d;
$grey-dark-color: #777777;

$background-sidebar-options-color: #26212d;
$background-sidebar-dark-color: #171717;

$background-main-color: #ecedf0;
$background-secondary-color: #f6f6f6;

$title-color: #ffffff;

body {
  font-family: "Open Sans", sans-serif;
  background-color: $background-main-color;
}

.clickable {
  cursor: pointer;
}

/* HEADER START */
.navbar {
  background-color: $background-secondary-color;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 1020;
  justify-content: space-between;
  height: 60px;
  top: 0;
  left: 0;

  .header-right {
    display: flex;
    align-items: center;

    float: right;
    height: 56px;

    .form-control {
      border-radius: 500px;
      width: 170px;
      font-size: 12px;
      padding: 6px 36px 6px 12px;
    }

    .form-control:focus {
      border-color: $dark-color;
      box-shadow: none;
    }

    .search-button {
      width: 14px;
      height: 14px;
      vertical-align: center;
      margin-left: -30px;
      color: #cccccc;
    }

    .separator {
      background-color: $background-secondary-color;
      background-image: linear-gradient(#f0f0f0 60%, #e2e2e2);
      display: inline-block;
      height: 60px;
      margin: 0 25px 0;
      width: 2px;
      vertical-align: middle;
    }

    .header-user {
      display: flex;
      align-items: center;

      .dropdown-menu {
        margin-top: -50px !important;
        width: 221.58px;
        padding: 0;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        border: none;
      }

      .dropdown-toggle::after {
        content: none;
      }

      .dropdown-item.active,
      .dropdown-item:active {
        color: black;
        text-decoration: none;
        background-color: transparent;
      }

      .dropdown-item {
        padding: 7px 8px 8px 8px;
      }
      .dropdown-menu-container {
        padding: 0 10px 0 10px;
      }

      .divider {
        height: 1px;
        margin: 5px 0;
        overflow: hidden;
        background-color: #e5e5e5;
      }
      .dropdown-options {
        display: flex;
        align-items: center;
        border-radius: 2px;
        color: $grey-primary-color;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        line-height: 1.5rem;
        padding: 2px 10px;
        margin-bottom: 5px;
      }
      .dropdown-options-icon {
        font-size: 15px;
      }

      .dropdown-options:hover {
        color: white;
        background-color: $primary-color;
      }
    }

    .notification {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-item {
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 30%);
        display: inline-block;
        height: 30px;
        position: relative;
        width: 30px;
        text-align: center;
        margin: 0 10px 0 0;
      }

      .icon-notification-btn {
        display: inline-block;
        vertical-align: middle;
      }

      .badge {
        background: $warning-color;
        border-radius: 50px;
        color: $title-color;
        font-size: 10px;
        font-weight: 600;
        height: 16px;
        padding: 3px 5px 3px 5px;
        position: absolute;
        right: -8px;
        top: -3px;
      }
    }

    .user-box-container {
      display: flex;
      align-items: center;

      .avatar {
        margin: 0;
      }

      .username {
        margin: 0 25px 0 10px;
        .name {
          color: #000011;
          font-size: 13px;
        }
        .role {
          color: #acacac;
          font-size: 11px;
        }
      }
    }
  }

  &-logo {
    height: 35px;
  }
}

.popover-notification {
  margin-top: 12px;
  left: -100px !important;
  min-width: 250px;

  border: none;
  box-shadow: 0 0 2px rgb(0 0 0 / 30%);

  .arrow {
    left: 100px !important;
  }

  .arrow::after {
    border-bottom-color: $primary-color;
  }

  .popover-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;

    background-color: $primary-color;
    color: #fff;
    height: 31px;
    padding: 8px 6px 8px 12px;
  }

  .popover-header::before {
    border: none;
  }

  .popover-body {
    padding: 12px;

    max-height: 250px;
    overflow-y: auto;
  }

  .badge-popover-header {
    width: 35px;
    height: 19px;
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    background-color: #006699;
    border-radius: 2.5px;
  }

  .content-popover-header {
    display: flex;
    align-items: center;
  }

  .icon-content-popover {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin: 0 10px 0 0;
    background-color: #47a447;

    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      color: #ffffff;
    }
  }

  .title-content-popover {
    font-size: 13px;
    color: #000011;
  }

  .time-content-popover {
    font-size: 11px;
    color: #acacac;
  }

  hr {
    margin: 0 0 12px 0;
  }
}

/* PAGE HEADER START */

.page-header {
  display: flex;
  justify-content: space-between;
  position: sticky;

  top: 60px;
  z-index: 1001;
  height: 50px;

  color: $title-color;
  background-color: $secondary-color;
  box-shadow: 1px 3px 0 1px #cccccc;

  &-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    width: fit-content;
    border-bottom: 4px solid $primary-color;

    color: #fff;

    box-sizing: content-box;
    display: inline-block;
    height: 50px;

    letter-spacing: normal;
    line-height: 50px;
    padding: 0 22px 0 20px;
  }

  .breadcrumb {
    background-color: transparent;
    padding-right: 40px;

    &-item {
      color: $grey-color;
    }
  }

  .breadcrumd-btn-home {
    color: $grey-color;
  }
}

/* PAGE HEADER END */

/* PAGE CONTENT START */
.page-content {
  padding: 40px;
  margin-top: 63px;

  /* TABLE START */
  .table-title-container {
    display: flex;
    justify-content: space-between;

    .table-title {
      color: #33353f;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      padding: 0;
      text-transform: none;
    }

    .table-btn-refresh {
      color: #33353f;
      font-size: 20px;
    }

    .table-btn-add {
      color: #fff;
      text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  // Header table
  .bnVhWX {
    padding-right: 16px;
    background-color: $background-secondary-color;
    border-bottom: 1px solid #dadada;
    border-radius: 5px 5px 0 0;
  }

  // Body table
  .ddQdFt {
    padding: 15px;
  }

  // Header body
  .iiHmzE {
    font-weight: bold;
  }
  // Border bottom header body
  .gXlmGk {
    border-bottom-width: 2px;
  }

  // Footer table
  .bwROKh {
    padding: 0 15px;
    border-top: none;
    border-radius: 0 0 5px 5px;
  }
  /* TABLE END */
}
/* PAGE CONTENT END */

.page-content-layout {
  display: flex;

  .sidebar {
    background-color: $secondary-color;
    min-width: 300px;

    padding-top: 60px;
    bottom: 0;
    height: 100vh;

    .sidebar-option-icon {
      font-size: 18px;
    }

    .side-navigation-panel-select-option,
    .side-navigation-panel-select-inner-option {
      color: #abb4be !important;
    }

    .sidebar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      position: sticky;
      top: 60px;
      background-color: $secondary-color;

      .sidebar-btn-menu {
        width: 73px;
        height: 50px;
        border-color: transparent;
        background-color: $background-sidebar-dark-color;
        color: $grey-color;
      }

      .sidebar-btn-menu:focus {
        box-shadow: none;
        border-color: transparent;
      }

      .sidebar-title {
        color: $grey-color;
      }
    }

    .side-navigation-panel
      .side-navigation-panel-select
      .side-navigation-panel-select-wrap
      .side-navigation-panel-select-option {
      padding: 12px 25px;
      border: none;
      height: 47.5px;
      border-left: 2px solid transparent;
    }

    .side-navigation-panel-select-option-text {
      font-size: 13px;
      font-weight: 600 !important;
    }

    .side-navigation-panel-select-inner-option-text {
      font-size: 13px !important;
      font-weight: 600 !important;
    }

    .side-navigation-panel
      .side-navigation-panel-select
      .side-navigation-panel-select-wrap
      .side-navigation-panel-select-option:hover {
      background-color: $background-sidebar-options-color;
    }

    .side-navigation-panel
      .side-navigation-panel-select
      .side-navigation-panel-select-wrap
      .side-navigation-panel-select-option-selected {
      border-left: 2px solid $primary-color;
      background-color: #21262d;
    }

    .side-navigation-panel
      .side-navigation-panel-select
      .side-navigation-panel-select-inner
      .side-navigation-panel-select-inner-wrap
      .side-navigation-panel-select-inner-option {
      line-height: 22px;
      padding: 10px 15px 10px 57px;
      border: none;
      background-color: #191c21;
    }

    .side-navigation-panel
      .side-navigation-panel-select
      .side-navigation-panel-select-inner
      .side-navigation-panel-select-inner-wrap
      .side-navigation-panel-select-inner-option-selected {
      .side-navigation-panel-select-inner-option-text {
        color: $primary-color;
      }
    }
  }

  .sidebar-collapse {
    background-color: $background-sidebar-dark-color;
    min-width: 73px;

    padding-top: 60px;
    bottom: 0;
    height: 100vh;

    .sidebar-option-icon {
      font-size: 18px;
    }

    .sidebar-option-title,
    .side-navigation-panel-select-inner,
    .side-navigation-panel
      .side-navigation-panel-select
      .side-navigation-panel-select-wrap
      .side-navigation-panel-select-option
      .side-navigation-panel-select-option-icon {
      display: none;
    }

    .side-navigation-panel-select-option,
    .side-navigation-panel-select-inner-option {
      color: #abb4be !important;
    }

    .sidebar-header {
      position: sticky;
      top: 60px;
      .sidebar-title {
        display: none;
      }

      .sidebar-btn-menu {
        width: 100%;
        display: flex;

        color: $grey-color;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: $background-sidebar-dark-color;
        border-color: transparent;
      }

      .sidebar-btn-menu:focus {
        box-shadow: none;
        border-color: transparent;
      }
      height: 50px;
    }

    .side-navigation-panel
      .side-navigation-panel-select
      .side-navigation-panel-select-wrap
      .side-navigation-panel-select-option {
      padding: 25px 12px;
      border: none;
      height: 47.5px;
    }

    .side-navigation-panel-select-option-text {
      font-size: 13px;
      font-weight: 600 !important;
    }

    .side-navigation-panel
      .side-navigation-panel-select
      .side-navigation-panel-select-wrap
      .side-navigation-panel-select-option:hover {
      background-color: $background-sidebar-options-color;
    }

    .side-navigation-panel
      .side-navigation-panel-select
      .side-navigation-panel-select-wrap
      .side-navigation-panel-select-option-selected {
      border-left: 2px solid $primary-color;
      background-color: $background-sidebar-options-color;
    }
  }

  .content {
    width: 100%;
  }
}

.form-header {
  background-color: $background-secondary-color;
  border-radius: 4px 4px 0 0;
  padding: 0 16px;
  color: #33353f;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dadada;
}

.form-content {
  font-size: 13px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 0 0 4px 4px;
  .form-control {
    font-size: 14px;
  }
}

.custom-control-label {
  display: flex;
  align-items: center;
}

.primary-btn {
  background-color: $primary-color;
}

.actions-btn {
  color: #666;
}

.secondary-btn {
  background-color: $grey-color;
  border: $grey-color;
  color: $dark-color;
}