/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #EBD6FD; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cbb8db; 
}